@font-face {
  font-family: SimsSans;
  src: url(fonts/thesimssansbold.otf);
}

@font-face {
  font-family: SimsSansSC;
  src: url(fonts/thesimssansboldsc.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

* {
  /**border: red solid 1px;**/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3cb9e1;
  text-align: center;
  font-family: "Barlow", "Arial", sans-serif;
  color: #ffffff;
}

h1 {
  color: #a6e329;
  font-size: 34px;
  font-family: SimsSansSC;
  grid-column-start: 1;
  grid-column-end: 5;
}

h2 {
  color: #ffffff;
  font-size: 28px;
  font-family: SimsSans;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 30px;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 18px;
  line-height: 30px;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

table th {
  background-color: #21b96b;
  
}

table th,
table td {
  border: 3px solid #ffffff;
  border-top: 0;
  border-right: 0;
}

table th {
  border-top: 3px solid #ffffff;
}

table th,
table td {
  padding-top: 8px;
  padding-bottom: 8px;
}

table tr:nth-child(even) td {
  background-color: rgba(66, 118, 183, 0.64);
}

table td:last-child,
table th:last-child {
  border-right: 3px solid #ffffff;
}

table tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

table tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.button {
  background-color: #21b96b;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-family: "SimsSans";
  font-size: 18px;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}

.underlined {
  text-decoration: underline;
}

header,
main,
footer {
  margin: 0 24px 0 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}

header {
  height: 100px;
  margin-bottom: 20px;
  border-bottom: 3px dotted #a6e329;
}

#header-banner {
  display: none;
  width: 100%;
  place-self: center;
}

#title-container {
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
}

#title-container h1 {
  font-family: SimsSans;
  font-size: 54px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #4276b7;
  text-shadow: 3px -2px 0 #a6e329;
}

#title-container h2 {
  display: none;
  font-size: 24px;
  color: #4276b7;
  text-shadow: 3px -2px 0 #a6e329;
  text-align: left;
}

header a {
  display: block;
  height: 48px;
  width: 79px;
  grid-column-start: 4;
  grid-column-end: 5;
  place-self: center;
  background-color: #21b96b;
  border: 3px solid #ffffff;
  border-radius: 10px;
  align-self: center;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.5);
}

#login-button {
  display: none;
  grid-column-start: 4;
  grid-column-end: 5;
  width: 100%;
  vertical-align: middle;
}

header a img {
  vertical-align: middle;
}

main p {
  grid-column-start: 1;
  grid-column-end: 5;
}

#signup-sim {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  margin-top: 40px;
}

#signup-button {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 40px;
  margin-bottom: 40px;
}

.signup-form {
  display: none;
  margin-top: 40px;
}

.signup-form label {
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.signup-form input {
  width: 100%;
  border: 3px solid #4276b7;
  border-radius: 8px;
}

.signup-form .button {
  display: block;
  width: 100%;
  margin-top: 15px;
}

.signup-form-mobile,
.login-form {
  grid-column-start: 1;
  grid-column-end: 5;
  margin: 200px 0;
}
.signup-form-mobile #sign-up-form,
.login-form {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 100%;
}

.signup-form-mobile label,
.login-form label {
  font-family: "Barlow", "Arial", sans-serif;
  font-size: 18px;
  line-height: 30px;
  grid-column-start: 1;
  grid-column-end: 5;
}

.signup-form-mobile input,
.login-form input {
  width: 100%;
  border: 3px solid #4276b7;
  border-radius: 8px;
}

.signup-form-mobile .button,
.login-form .button {
  display: block;
  width: 100%;
  margin-top: 15px;
  grid-column-start: 2;
  grid-column-end: 4;
}

#profile-button,
#new-household-button {
  display: block;
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 30px;
}

#household-table,
#simmer-table {
  grid-column-start: 1;
  grid-column-end: 5;
  margin-top: 15px;
  margin-bottom: 30px;
}

footer {
  border-top: 3px dotted #a6e329;
  padding-bottom: 15px;
}

footer p {
  grid-column-start: 1;
  grid-column-end: 5;
}

footer a{
  display: block;
  color: #a6e329;
  font-size: 18px;
}

#github-link,
#pf-link,
#cb-link {
  display: none;
}

#twitter-link {
  grid-column-start: 1;
  grid-column-end: 2;
}

#contact-link{
  grid-column-start: 4;
  grid-column-end: 5;
}

@media only screen and (min-width: 600px) {
  header,
  main,
  footer {
    margin: 0 32px 0 32px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    column-gap: 16px;
  }

  h1 {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  
  header {
    height: 140px;
    margin-bottom: 15px;
  }

  #title-container {
    grid-column-start: 1;
    grid-column-end: 5;
  }
  
  #title-container h2{
    display: block;
  }

  #login-button {
    display: block;
    grid-column-start: 5;
    grid-column-end: 7;
  }

  #login-mobile-button {
    display: none;
  }

  main p {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  #signup-sim {
    grid-column-start: 3;
    grid-column-end: 5;
  }

  #signup-button {
    display: none;
  }

  .signup-form,
  .login-form {
    display: block;
    grid-template-columns: repeat(4, 1fr);
    grid-column-start: 2;
    grid-column-end: 6;
    width: 100%;
    margin-bottom: 40px;
  }

  #sign-up-form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
  }

  .signup-form label,
  .login-form label {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  .signup-form input,
  .login-form input {
    width: 100%;
  }

  .signup-form .button,
  .login-form .button {
    grid-column-start: 2;
    grid-column-end: 4;
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  footer p {
    grid-column-start: 1;
    grid-column-end: 7;
  }

  #twitter-link {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #cb-link {
    display: block;
    grid-column-start: 3;
    grid-column-end: 5;
  }

  #contact-link {
    grid-column-start: 5;
    grid-column-end: 7;
  }
}

@media only screen and (min-width:1420px) {
  h1 {
    grid-column-start: 2;
    grid-column-end: 14;
  }
  
  header,
  main,
  footer {
    margin: 0 70px 0 70px;
    display: grid;
    grid-template-columns: repeat(14, 1fr);
    column-gap: 16px;
  }

  header {
    grid-column-start: 1;
    grid-column-end: 15;
    height: 225px;
    margin-bottom: 15px;
  }

  #title-container {
    grid-column-start: 1;
    grid-column-end: 5;
  }

  #header-banner {
    display: block;
    grid-column-start: 5;
    grid-column-end: 13;
  }

  #login-button {
    grid-column-start: 13;
    grid-column-end: 15;
  }

  main p {
    grid-column-start: 2;
    grid-column-end: 14;
  }

  #signup-sim {
    grid-column-start: 3;
    grid-column-end: 7;
  }

  .signup-form {
    grid-column-start: 9;
    grid-column-end: 13;
  }

  .login-form {
    grid-column-start: 5;
    grid-column-end: 11;
  }

  footer {
    grid-column-start: 1;
    grid-column-end: 15;
  }

  footer p {
    grid-column-start: 1;
    grid-column-end: 15;
  }

  #twitter-link {
    grid-column-start: 1;
    grid-column-end: 3;
  }

  #github-link {
    display: block;
    grid-column-start: 4;
    grid-column-end: 6;
  }

  #pf-link {
    display: block;
    grid-column-start: 7;
    grid-column-end: 9;
  }

  #cb-link {
    display: block;
    grid-column-start: 10;
    grid-column-end: 12;
  }

  #contact-link {
    grid-column-start: 13;
    grid-column-end: 15;
  }
}