@font-face {
  font-family: SimsSans;
  src: url(fonts/thesimssansbold.otf);
}

@font-face {
  font-family: SimsSansSC;
  src: url(fonts/thesimssansboldsc.otf);
}

@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;700&display=swap');

* {
  /**border: red solid 1px;**/
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #3cb9e1;
  text-align: center;
  font-family: "Barlow", "Arial", sans-serif;
  color: #ffffff;
}

h1 {
  color: #a6e329;
  font-size: 42px;
  font-family: SimsSansSC;
  grid-column-start: 1;
  grid-column-end: 5;
}

p {
  margin-top: 8px;
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 36px;
}

.button {
  background-color: #21b96b;
  border: 3px solid #ffffff;
  border-radius: 10px;
  color: #ffffff;
  text-decoration: none;
  font-family: "SimsSans";
  font-size: 24px;
  align-self: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

header,
main,
footer {
  margin: 0 24px 0 24px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 16px;
}

header {
  height: 100px;
  margin-bottom: 40px;
  border-bottom: 3px dotted #a6e329;
}

#header-banner {
  display: none;
}

#title-container {
  grid-column-start: 1;
  grid-column-end: 4;
  align-self: center;
}

#title-container h1 {
  font-family: SimsSans;
  font-size: 58px;
  letter-spacing: 1.5px;
  text-align: left;
  color: #4276b7;
  text-shadow: 3px -2px 0 #a6e329;
}

header h2 {
  display: none;
}

header a {
  display: block;
  height: 48px;
  width: 79px;
  grid-column-start: 4;
  grid-column-end: 5;
  place-self: center;
  background-color: #21b96b;
  border: 3px solid #ffffff;
  border-radius: 10px;
  align-self: center;
}

header a img {
  vertical-align: middle;
}

main p {
  grid-column-start: 1;
  grid-column-end: 5;
}

#signup-sim {
  grid-column-start: 2;
  grid-column-end: 4;
  width: 100%;
  margin-top: 40px;
}

#signup-button {
  grid-column-start: 2;
  grid-column-end: 4;
  margin-top: 40px;
  margin-bottom: 40px;
}

.signup-form {
  display: none; 
}

footer {
  border-top: 3px dotted #a6e329;
  padding-bottom: 15px;
}

footer p {
  grid-column-start: 1;
  grid-column-end: 5;
}

footer a{
  display: block;
  color: #a6e329;
  font-size: 24px;
}

#github-link,
#pf-link,
#cb-link {
  display: none;
}

#twitter-link {
  grid-column-start: 1;
  grid-column-end: 2;
}

#contact-link{
  grid-column-start: 4;
  grid-column-end: 5;
}